<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodafleets.rodadriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/roda_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUpVerificationActivity" />
        <activity android:name=".VehicleDetailsActivity" />
        <activity android:name=".DriverDocs" />
        <activity android:name=".VehicleRequestListActivity" />
        <activity android:name=".VehicleRequestActivity">
            <intent-filter>
                <action android:name="com.rodafleets.rodadriver.TRIP_REQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TripProgressActivity" />
        <activity android:name=".RequestHistoryListActivity" />

        <service android:name=".services.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNUPU5BnrpbhAZjloAyNbzUanOTlrh1O4" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--
            <service
            android:name=".services.LocationUpdateService"
            android:exported="false" />
        -->
        <service
            android:name=".TrackerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".DriverSettings"
            android:label="@string/title_activity_driver_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PersonalInfoSettings"
            android:label="@string/title_activity_personal_info_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vehicle_details_settings"
            android:label="@string/title_activity_vehicle_details_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".account_details_settings"
            android:label="@string/title_activity_account_details_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PaymentAndTrips"
            android:label="@string/title_activity_payment_and_trips"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>